header {
    .navbar-expand-lg {
        display: block;
    }
    .sidebar {
        background-color: #f8f9fa;
    }

    .sidebar .nav-link {
        color: #000;
    }   
    .info-website{
        display: flex;
        .user-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 20%;
            .userName {
                padding-left: 100px;
            }
        }
    }
}

.navbar-nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 20%;
    .nav-item {
        padding: 5px;
        flex-grow: 1;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
        .nav-link {
            font-size: larger;
            font-weight: 600;
            text-decoration: underline;
        }
    }
}

.f-w-500{
    font-weight: 500;
}

.d-border{
    border: 1px solid black;
}

.w-100 {
    width: 100%;
}

.border-col {
    border-collapse: collapse;
}

.customer_login {
    padding-bottom: 59px;
}


.breadcrumb_content {
    padding: 10px 0px 0px 10%;
}

.breadcrumb_content ul {
    line-height: 15px;
}
.breadcrumb_content ul li {
    display: inline-block;
    text-transform: capitalize;
    font-size: 14px;
    margin-right: 5px;
}
.breadcrumb_content ul li:last-child {
    margin-right: 0;
}

.breadcrumb_content ul li a:hover {
    color: #ff6a28;
}

.account_form form {
    border: 1px solid #ddd;
    padding: 23px 20px 29px;
    border-radius: 5px;
}
.account_form label {
    font-size: 15px;
    font-weight: 400;
    color: #242424;
    cursor: pointer;
    line-height: 12px;
    margin-bottom: 12px;
}
.account_form label:hover {
    color: #ff6a28;
}
.account_form input {
    border: 1px solid #ddd;
    height: 40px;
    max-width: 100%;
    padding: 0 20px;
    background: none;
    width: 100%;
}

.login_submit label input[type="checkbox"] {
    width: 15px;
    height: 13px;
    margin-right: 3px;
}

.login_submit {
    justify-content: center;
    display: flex;
}
.login_submit a {
    font-size: 13px;
    color: #ff6a28;
    float: left;
    line-height: 39px;
}
@media only screen and (max-width: 767px) {
    .login_submit a {
        float: none;
        line-height: 18px;
        display: block;
        margin-bottom: 20px;
    }
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.p-left-10 {
    padding-left: 10px;
}

